useDynLib(rankedBeliefR, .registration = TRUE)
export(rb_singleton_int)
export(rb_from_array_int)
export(rb_take_n_int)
export(rb_first_int)
export(rb_is_empty)
export(rb_merge_int)
export(rb_observe_value_int)
export(rb_free)
export(rb_map_int)
export(rb_filter_int)
export(rb_merge_apply_int)
S3method(print, ranked_belief_ranking)
